    <div class="card-header">
      <div class="row">
        <div class="col-xs-4">
          <h1 class="pageTitle ng-binding pull-left">Wallet Balance</h1>
        </div>
        <div class="col-xs-8">
          <div class="text-right">
            <h1 class="ng-binding pull-right">
              {{walletBalance}} koins
              <small ng-if="!!displayPrice" class="ng-binding ng-scope">≃ ${{ruppess}}</small><!-- end ngIf: !!displayPrice -->
            </h1>
          </div>
        </div>
      </div>
    </div>
    <h2 style="text-align: left;"> Buy Koin's here!</h2>
    <div style="padding: 20px;" id="form-olvidado">
        <!-- <form accept-charset="UTF-8" role="form" id="login-form" method="post"> -->
            <fieldset>            
              <label style="text-align:left;"><strong>Amount in USD</strong></label>
              <div class="form-group input-group">
                <input #usd class="form-control" (keydown)="calculateKoin(usd.value)" placeholder="0.00000" type="number" style="height:40px">
              </div>
              <label style="text-align:left;"><strong>Equivalent Koin</strong></label>
              <div class="form-group input-group">
                <input class="form-control" [(ngModel)]="koins" placeholder="0.00000" type="number" style="height:40px">
              </div>
              <label style="text-align:left;"><strong>Card Holder Name</strong></label>
              <div class="form-group input-group">
                <input class="form-control" placeholder="Enter Card Holder's Name" type="text" style="height:40px">
              </div>
              <label style="text-align:left;"><strong>Card Number</strong></label>
              <div class="form-group input-group">
                <input class="form-control" placeholder="0000-0000-0000-0000" type="text" style="height:40px">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary pull-left">
                  Submit
                </button>       
              </div>
            </fieldset>
        <!-- </form> -->
    </div>