<div style="padding: 20px;" id="form-olvidado">
    <form accept-charset="UTF-8" role="form" id="login-form" method="post">
        <fieldset>
          <label style="text-align:left;"><strong>Koin Address</strong></label>
          <div class="form-group input-group">
            <input class="form-control" placeholder="Koin Address" type="text" style="height:40px">
          </div>   
          <div style="text-align: left">
              A new Bitcoin address has been created for you. Use this address to receive funds.
          </div>           
        </fieldset>
    </form>
</div>