<div class="main">
    
    <div class="header">
        Create Your Free Account Now!!
    </div>
    <div class="container">
        <div class="middle">
            <div id="login">
        
              <form action="javascript:void(0);" method="get">
        
                <fieldset class="clearfix">
        
                  <p ><span class="fa fa-user"></span><input type="text"  Placeholder="Email" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                  <p><span class="fa fa-lock"></span><input type="password"  Placeholder="Password" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                  
                   <div>
                                      <span style="width:50%; text-align:left;  display: inline-block;"><input type="submit" value="Sign Up"></span>
                                  </div>
        
                </fieldset>
              </form>
            </div>
        </div>
    </div>
  
  </div>